@import "bulma/bulma";

html,
body {
  padding: 0;
  margin: 0;
}

.page {
  margin: 20px 15px 20px 15px;
}

.posterContainer {
  display: flex;
}

.poster {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
  max-height: fit-content;
}

.posterItem {
  width: fit-content;
  height: auto;

  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}
