@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.padBody {
  margin: 5vh;
}

.centered {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
  display: flex;
  width: 100%;
  height: 60%; /* to center vertically */
  align-items: center;
  justify-content: center;
}

.posterContainer {
  display: block;
  margin: 5vh;
  background-color: rgb(59, 59, 83);
}

.poster {
  position: relative;
  /* min-width: 100%; */
  padding-left: 10px;
  /* max-height: fit-content; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
}

/* .figure {
  display: block !important;
} */

.bigImage {
  width: 500px;
  height: auto;
  /* max-height: 100%;
  max-width: 100%; */
}

.smImage {
  /* width: 162px; */
  width: 233px;
  /* height: auto; */
  /* display: block; */
}

/* .imageResize {
  width: 50%;
} */

.posterItem {
  width: fit-content;

  margin: 10px;
  display: flex;

  float: left;
  /* flex-direction: column; */
  /* justify-content: space-between; */

  /* position: relative; */
}

.zoom {
  transition: all 0.2s ease-in-out;
  align-self: start;
}
.zoom:hover {
  transform: scale(1.1);
}

.card {
  /* border: 2px solid black; */
  width: 300px;
  height: 400px;
}

.navbar {
  /* border: 2px solid rgb(0, 89, 255);
  border-radius: 10px; */
  /* background-color: rgb(50, 58, 69) !important; */
  width: 100%;
  display: inline-flex !important;
  justify-content: space-around !important;
  /* left: 10%; */
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

/* SWIPER JS CSS */

.swiper {
  margin-top: 50px;
  /* width: 90%; */
  height: 30%;
  width: 75em;
  /* min-width: 20%; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: grey; */
  color: black;
  z-index: -10 !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-scrollbar-drag {
  /* color: blue !important;
  background-color: blue !important; */
  background: blue !important;
}

#lightbox-img {
  height: 80vh;
  max-width: 90vw;
  object-fit: cover;
  z-index: 9999;
}
#lightbox {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-responsive {
  z-index: 1000;
  /* ADDING Z-INDEX JUST SO THIS CSS ISNT BLANK */
}

.video-responsive iframe {
  z-index: 1000;
  /* ADDING Z-INDEX JUST SO THIS CSS ISNT BLANK */
}

.remove {
  background-color: aliceblue;
}

.video-responsive {
  z-index: 1000;
  /* ADDING Z-INDEX JUST SO THIS CSS ISNT BLANK */
}

.video-responsive iframe {
  z-index: 1000;
  /* ADDING Z-INDEX JUST SO THIS CSS ISNT BLANK */
}
