html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.posterContainer {
  display: block;
  margin: 5vh;
  background-color: rgb(59, 59, 83);
}

.poster {
  /* position: relative; */
  /* min-width: 100%; */
  padding-left: 10px;
  /* max-height: fit-content; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* background-color: red; */
}

.posterItem {
  width: fit-content;
  height: auto;

  margin: 10px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */

  position: relative;
}

.mySlider {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev:before,
.slick-next:before {
  color: blue !important;
}

.card {
  border: 1px solid black;
  height: 400px;
}

.card-header {
  font-weight: 600;
  font-size: 20px;
  font-family: monospace;
}

.navbar {
  border: 2px solid rgb(0, 89, 255);
  border-radius: 10px;
}
