html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.posterContainer {
  display: block;
  margin: 5vh;
  background-color: rgb(59, 59, 83);
}

.poster {
  position: relative;
  /* min-width: 100%; */
  padding-left: 10px;
  /* max-height: fit-content; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
}

/* .figure {
  display: block !important;
} */

.bigImage {
  width: 264px;
  height: auto;
  /* max-height: 100%;
  max-width: 100%; */
}

.smImage {
  /* width: 162px; */
  width: 233px;
  /* height: auto; */
  /* display: block; */
}

/* .imageResize {
  width: 50%;
} */

.posterItem {
  width: fit-content;

  margin: 10px;
  display: flex;

  float: left;
  /* flex-direction: column; */
  /* justify-content: space-between; */

  /* position: relative; */
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.mySlider {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev:before,
.slick-next:before {
  color: blue !important;
}

.card {
  border: 2px solid black;
  /* height: 400px; */
  width: 300px !important;
}

.game-title {
  font-weight: 600;
  font-size: 20px;
  font-family: monospace;
  justify-content: center;
  /* overflow: auto; */
}

.navbar {
  /* border: 2px solid rgb(0, 89, 255);
  border-radius: 10px; */
  /* background-color: rgb(50, 58, 69) !important; */
  width: 100%;
  display: inline-flex !important;
  justify-content: space-around !important;
  /* left: 10%; */
}



/* .testNav {
  background-color: red;
  width: 500px;
} */

